  <div>111111111111</div>

  {% schema %}
    {
      "name": "custom section",
      "settings": [ {
              "type": "text",
              "id": "amazon_link",
              "label": {
                "en": "Amazon Link"
              }
          }
      ],
      "presets": [
        {
          "name": "custom section"
        }
      ]
    }
  {% endschema %}