  <div>111111111111</div>

  {% schema %}
    {
      "name": "Bundle-product-parts",
      "settings": [ {
              "type": "text",
              "id": "amazon_link",
              "label": {
                "en": "Amazon Link"
              }
          }
      ],
      "presets": [
        {
          "name": "Bundle product parts"
        }
      ]
    }
  {% endschema %}