  <div>Bundle-product-parts</div>

  {% schema %}
    {
      "name": "Bundle-product-parts",
      "presets": [
        {
          "name": "Bundle-product-parts"
        }
      ]
    }
  {% endschema %}